@font-face {
  font-family: 'Pigpen-Regular';
  src: url('./../../src/fonts/Pigpen-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'PigPenCodeFont';
  src: url('./../../src/fonts/PigPenCodeFont.ttf') format('ttf');
}

html,
body {
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 0%);
  overflow: hidden;
}

html {
  body {
    #root {
      width: 100%;
      height: 100%;
    }
  }
}
